DATABASE_URL=postgresql+asyncpg://USERNAME:PASSWORD@HOST:PORT/DATABASE
ALEMBIC_DATABASE_URL=postgresql+psycopg://USERNAME:PASSWORD@HOST:PORT/DATABASE
GO2RTC_PUBLIC_URL=http://localhost:1984
CORS_ALLOWED=["http://localhost:5173","http://127.0.0.1:5173"]

# AUTH
JWT_SECRET_KEY=
ACCESS_TOKEN_EXPIRE_MINUTES=