webrtc:
  listen: ":8555"
  candidates:
    - 192.168.1.42:8555  # replace with your host's LAN IP

api:
  listen: ":1984"

rtsp:
  listen: ":8554"

streams:
  logitech_webcam:
    - rtsp://host.docker.internal:8554/logitech

  reolink_main:
    - rtsp://${REOLINK_USER}:${REOLINK_PASSWORD}@192.168.1.43:554/h264Preview_01_main

  reolink_sub:
    - rtsp://${REOLINK_USER}:${REOLINK_PASSWORD}@192.168.1.43:554/h264Preview_01_sub
